@using FabricCutter.UI.Logic
@using FabricCutter.UI.Logic.Events
@inject IRecipeInformationViewModel _viewModel

<div class="length-component-separator"></div>
<div class="length-component-up">
	<div class="row">
		<div class="label">Total Length:</div>
		<div class="value">@_viewModel.TotalLenght</div>
	</div>
	<div class="row">
		<div class="label">Markers Length:</div>
		<div class="value">@_viewModel.MarkersLenght</div>
	</div>
	<div class="row">
		<div class="label">N° Splices:</div>
		<div class="value">@_viewModel.SplicesNumber</div>
	</div>
	<div class="row">
		<div class="label">N° Markers:</div>
		<div class="value">@_viewModel.MarkersNumber</div>
	</div>
	<div class="row">
		<div class="label">Absolute Position:</div>
		<div class="value">@_viewModel.AbsolutePosition</div>
	</div>
</div>
<div class="length-component-separator-down"></div>

@code {




	protected override void OnInitialized()
	{
		_viewModel.StateHasChanged = StateHasChanged;
		base.OnInitialized();	
	}




}